
.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed hotpink;
    margin-bottom: 500px;
    padding-bottom: 500px;
}

/* grid */
.grid-container {
    display: grid;
    border: 1px solid lightcoral;
}

.item {
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
}

/* grid-template-rows */
.rows-px { grid-template-rows: 100px 200px 300px;}
.rows-fr { grid-template-rows: 1fr 2fr 1fr;}
.rows-mix { grid-template-rows: 1fr 2fr 100px;}
.rows-name { grid-template-rows: [row1] 100px [row2] 150px [row3] 200px;;}
.rows-repeat { grid-template-rows: repeat(3, 200px);}


/**/

/* grid-template-rows */
.columns-px { grid-template-columns: 100px 200px 300px;}
.columns-fr { grid-template-columns: 1fr 2fr 1fr;}
.columns-mix { grid-template-columns: 1fr 2fr 100px;}
.columns-name { grid-template-columns: [row1] 100px [row2] 150px [row3] 200px;;}
.columns-repeat { grid-template-columns: repeat(3, 200px);}

/* grid- template- areas*/

/* grid-areas : 영역의 이름 지정하느 속성 */
.grid-header {grid-area: header;}
.grid-main {grid-area: main;}
.grid-footer {grid-area: footer;}

.grid-template-areas {
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.grid-template {
    grid-template: 
    "header header header" 100px
    "main main main" 200px
    "footer footer footer" 150px
    / 100px 200px 300px
    ;
}

/* gap */
.row-gap {row-gap: 100px; }
.columns-gap { column-gap: 200px; }
.gap { gap: 100px 200px }

/* auto */
.auto-rows { grid-auto-rows: 300px; }
.auto-columns { grid-auto-columns: 300px; }
.auto-item { background-color: mediumslateblue;}

/* grid colum*/
/* 3n-2 : 1, 4, 7 ... */
/* 3n-1 : 2, 5, 8 ... */
/* 3n   : 3, 6, 9 ... */
.auto-columns .item:nth-child(3n-2) {grid-column: 1/2;}
.auto-columns .item:nth-child(3n-1) {grid-column: 2/3;}
.auto-columns .item:nth-child(3n) {grid-column: 3/4;}

.auto-columns .auto-item:nth-child(3n-2) {grid-column: 4/5; grid-row: 1/2;}
.auto-columns .auto-item:nth-child(3n-1) {grid-column: 4/5; grid-row: 2/3;}
.auto-columns .auto-item:nth-child(n) {grid-column: 4/5; grid-row: 3/4;}

/**/
.auto-flow-row { grid-auto-flow: row; }
.auto-flow-column { grid-auto-flow: column; }



